<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>servlet.FirstServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>

</web-app>